@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Grotesk:wght@300;400;500;600&display=swap');
@import "tailwindcss";

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html { scroll-behavior: smooth; }

body {
  background: #0d0d0d;
  color: #fff;
  cursor: none;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'Space Grotesk', sans-serif;
}

::selection { background: #c0522a; color: #fff; }

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #0d0d0d; }
::-webkit-scrollbar-thumb { background: #2a2a2a; }
::-webkit-scrollbar-thumb:hover { background: #c0522a; }

input::placeholder, textarea::placeholder { color: #444; }
